<%= simple_form_for @message do |f| %>
	
<div class="message-show">
  <%= f.label :paperclip_image %>

  <div class="btn btn-default">
 	 <%= f.file_field :paperclip_image, html: { class: 'form-control' }%>
  </div>
  <%= f.input :title, label: "Message Title" %>

  <%= f.input :description %>

  	<button type="button" class="btn btn-success">
 		<%= f.button :submit %>
	</button>
<% end %>
</div>