<%= simple_form_for(@profile,  html: { multipart: true }) do |f| %>
  <%= f.error_notification %>
<div class="message-show">
  <p>
  <!-- WHen i add @profile.user.email I get an error -->
    <strong>User:</strong>
    <%= @profile.user %>
  </p>

  <div class="form-inputs">
    
    <%= f.label :image %>
  <div class="btn btn-default">
      <%= f.file_field :image, html: { class: 'form-control' }%>
  </div>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :apt %>
  </div>

  <div class="form-actions" >
    <%= f.button :submit %>
  </div>
<% end %>

</div>

