<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <p>
  <!-- WHen i add @profile.user.email I get an error -->
    <strong>User:</strong>
    <%= @profile.user %>
  </p>

  <div class="form-inputs">
    
    <%= f.label :paperclip_image %>
  <div class="btn btn-default">
      <%= f.file_field :paperclip_image, html: { class: 'form-control' }%>
  </div>
    <%= f.input :firstname %>
    <%= f.input :lastname %>
    <%= f.input :apt %>
  </div>

  <div class="form-actions" >
    <%= f.button :submit %>
  </div>
<% end %>



